<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Anagram Word Welcome Page</title>

    <div th:replace="fragments/header :: header-css"/>

</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">

    <div class="starter-template">
        Anagram Word tool
        <br/><a th:href="@{/admin}">Login</a> as Admin to configure system
        <br/><a th:href="@{/user}">Login</a> as a USER to reuse custom settings and own history records
        <form th:action="@{/processword}" method="get">
            <br/><br/>Please enter your word
            <br/><input type="text" id="word_as_text"/>
            <input type="submit"/>
        </form>
    </div>

</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>